<h3> Bem vindo </h3>

<p>
  Escolha uma das ações a seguir
  <ul>
    <li> <%= link_to "Criar Personagem", new_personagem_path %> </li>
    <li><%= link_to "Visualizar poderes", poderes_path %> </li
      </ul>
</p>
